name: CI

on:
  push:
    branches: [master]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
      NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}

    steps:
      # TODO these should be environemnt secrets not repo secrets
      # https://medium.com/@morepravin1989/github-actions-secrets-and-variables-understanding-repository-and-environment-secrets-for-2b2eed404222
      - name: Check Supabase secrets
        run: |
          if [ -z "$NEXT_PUBLIC_SUPABASE_ANON_KEY" ] || [ -z "$NEXT_PUBLIC_SUPABASE_URL" ]; then
            echo "::error::Missing secrets. Add NEXT_PUBLIC_SUPABASE_ANON_KEY and NEXT_PUBLIC_SUPABASE_URL in repo Actions secrets."
            exit 1
          fi
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.19.0'
      
      - name: Install dependencies
        run: npm install

      - name: Lint code
        run: npm run lint

      - name: Install Playwright browser
        run:  npx playwright install --with-deps
      
      - name: Run Playwright tests
        run: npm run test:e2e
        
      - uses: actions/upload-artifact@v5
        if: ${{!cancelled()}}
        with:
          name: playwright-report
          path: playwright-report/
          rentention-days: 30